@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "PT Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-behavior: smooth;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 5px 50px;
  border-bottom: 3px solid rgb(8, 75, 143);
  z-index: 100;
  background-color: rgb(219, 237, 255);
}

nav .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}

nav .logo img {
  height: 100%;
  width: auto;
  margin-right: 5px;
}

nav .logo a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  letter-spacing: 1px;
}

nav .logo a:hover {
  text-decoration: underline;
  color: rgb(8, 75, 143);
}

nav .menu-icon {
  padding: 5px;
  user-select: none;
}

nav .menu-icon:hover {
  cursor: pointer;
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

nav .menu-icon:active {
  transform: scale(0.85);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 60px;
}

main aside {
  background-color: rgb(234, 245, 255);
  font-weight: unset;
  position: fixed;
  flex: 1;
  top: 60px;
  width: 20%;
  height: calc(100vh - 60px);
  text-align: center;
}

main aside:nth-of-type(1) {
  left: 0;
}
main aside:nth-of-type(2) {
  right: 0;
}

main aside h3 {
  font-size: 15px;
  padding: 15px 5px;
  color: rgb(8, 75, 143);
}

main aside ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  grid-row-gap: 1px;
  padding: 0 5px;
  font-size: 13px;
}

main aside ul a {
  text-decoration: none;
  width: 100%;
  padding: 5px;
  color: white;
  background-color: rgb(8, 75, 143);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main aside ul a i {
  font-size: 17px !important;
  margin-right: 5px;
}

main aside ul a.selected {
  color: yellow;
}

main aside ul a:hover {
  filter: brightness(1.2);
}

main aside ul a:active {
  transform: scale(0.95);
}

main aside ul a.disabled {
  background-color: gray;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 60px);
}

section h1 {
  text-align: center;
  color: rgb(36, 36, 36);
  letter-spacing: 2px;
  padding: 20px 10px;
}

.activity-card {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  max-width: 100%;
  margin: auto 10px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 50px;
  background-color: rgb(185, 220, 255);
  scroll-snap-align: start;
  scroll-margin-top: 80px;
}

.activity-card:nth-of-type(even) {
  background-color: rgb(219, 237, 255);
}

.activity-card li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px 0;
  border-radius: 5px;
  text-align: center;
  grid-gap: 2px 4px;
  padding: 3px;
}

.activity-card li span,
.activity-card li a {
  padding: 2px;
  flex: 1;
}

.activity-card li span:nth-of-type(1),
.activity-card li span:nth-of-type(2) {
  flex: 2;
}

.activity-card .member span:nth-of-type(1) {
  text-align: left;
}

.activity-card .activity-heading {
  font-size: 20px;
  letter-spacing: 2px;
}

.member {
  background-color: rgb(255, 255, 255);
  font-size: 13px;
  color: rgb(8, 130, 251);
  font-weight: unset;
  animation: appears 3s forwards;
}

.member:hover {
  cursor: pointer;
  color: rgb(46, 46, 46);
}

.member a {
  min-width: 90px;
}

@keyframes appears {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.lead {
  color: rgb(8, 130, 251);
  position: relative;
}

.lead span:nth-of-type(1):after {
  content: "Asst Leader";
  position: absolute;
  top: -2px;
  color: white;
  background-color: rgb(0, 61, 158);
  font-size: 10px;
  padding: 0px 5px;
  border-radius: 10px;
}

.self {
  color: rgb(255, 86, 56);
  position: relative;
}

.self span:nth-of-type(1):after {
  content: "Leader";
  position: absolute;
  top: -2px;
  color: white;
  background-color: rgb(255, 86, 56);
  font-size: 10px;
  padding: 0px 5px;
  border-radius: 10px;
}

.btn {
  cursor: pointer;
  color: white;
  text-decoration: none;
  background: linear-gradient(
    to bottom,
    rgb(204, 204, 204),
    rgb(117, 117, 117)
  );
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  filter: brightness(1.2);
}

.btn:active {
  transform: scale(0.95);
}

.dark {
  background: linear-gradient(to bottom, rgb(128, 252, 128), green);
}

.blue {
  background: linear-gradient(to bottom, rgb(73, 164, 255), rgb(13, 100, 187));
}

.btn i {
  font-size: 17px !important;
  margin-left: 5px;
}

footer {
  width: 60%;
  height: 50px;
  background-color: rgb(0, 61, 158);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

@media screen and (max-width: 660px) {
  main {
    display: flex;
    flex-direction: column;
  }
  main aside {
    top: auto;
  }
  main aside:nth-of-type(1) {
    width: 100%;
    position: relative;
    height: auto;
  }
  main aside:nth-of-type(2) {
    display: none;
  }
  .activity-card {
    width: 90%;
  }
  .btn {
    font-style: 10px;
  }
  .btn i {
    font-size: 10px !important;
  }
  section {
    margin: 0;
  }
  footer {
    width: 100%;
  }
  .member {
    flex-direction: column;
  }
  .member span {
    font-size: 15px;
  }
  .member a {
    width: 100%;
  }
}
